
#content {
    display: inline-block;
    margin: auto;
}

header {
    display: inline-block
    text-align: center;
    padding: 20px 0px;
}

#canvas {
    /* display: block; */
    position: relative;
    float: left;
}

#sidebar {
    float: left;
    padding-left:
}

#preview {
    border-style: solid;
    border-color: black;

    position: relative;
    background-color: black;
/*    float: left;*/
}

#overlay {
    position: absolute;
    background-color: rgba(127, 127, 127, .75);
}

.touch {
    touch-action: none;
    text-align: center;
    position: absolute;
    background-color: grey;
    opacity: 50%;
    border: 1px solid black;
}

html {
    padding: 0px;
}

body {
    text-align: center;
    background:#eeeeee;
    padding: 0px;
}
